@page
@model QBWebApp.Pages.QBLogbookModel
<a class="btn btn-dark" asp-page="/QBIndex">LogOut</a>

<form method="post" asp-page-handler="QBsearch"><center>
    <input name="Search" />
    <button type="submit" class="btn btn-primary">Search</button>
</form></center>
<h1><center>STUDENT CLINIC LOGBOOK</h1></center>
<div style="max-height: 300px; overflow-y: auto;">
    <table class="table bg-info text-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year Level/Course</th>
                <th>Reason For Adminssion</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <form method="post" asp-page-handler="QBcreate">
        <tr>
            <input hidden name="QBId" value="@Model.QBId" />
            <td>
                <div class="">
                    <input placeholder="Name" name="QBName" value="@Model.QBName" />

                </div>
            </td>
            
            <td><input value="@Model.QBGradeYearLevel" name="QBGradeYearLevel" placeholder="Year Level/Course" /></td>
            <td><input value="@Model.QBReasonForAdmission" name="QBReasonForAdmission" placeholder="Reason For Adminssion" /></td>
            <td><input value="@Model.QBDate" type="date" name="QBDate" placeholder="Date" /></td>
            <td>
                <input value="@Model.QBTime" type="time" name="QBTime" placeholder="Time" />
                <button type="submit" class="btn btn-primary">Add</button>
                <button class="btn btn-primary" type="submit" formmethod="post" asp-page-handler="QBupdate">Update</button>
            </td>
        </tr>
        </form>
        <tbody>           
            @foreach (var a in Model.QBlist)
            {
                <tr>
                    <td>@a.QBName</td>
                    <td>@a.QBGradeYearLevel</td>
                    <td>@a.QBReasonForAdmission</td>
                    <td>@a.QBDate</td>
                    <td>@a.QBTime</td>
                    <td>
                        <form method="post" asp-page-handler="QBedit">
                            <input hidden value="@a.QBId" name="QBId" />
                            <input hidden value="@a.QBId" name="QBId2" />
                            <input hidden value="@a.QBName" name="QBName2" />
                            <input hidden value="@a.QBGradeYearLevel" name="QBGradeYearLevel2" />
                            <input hidden value="@a.QBReasonForAdmission" name="QBReasonForAdmission2" />
                            <input hidden value="@a.QBDate" name="QBDate2" />
                            <input hidden value="@a.QBTime" name="QBTime2" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button class="btn btn-dark" type="submit" formmethod="post" asp-page-handler="QBdelete">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>